* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  height: 100vh;
  overflow: hidden;
}

/* SECTIONS */
.section {
  position: absolute;
  inset: 0;
  display: none;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
}

/* ACTIVE SECTION */
.section.active {
  display: flex;
}

/* BACKGROUNDS */
#welcome {
  background-image: url("images/zootopia_bg.jpg");
}

#story {
  background-image: url("images/zootopia-bg.jpg");
}

/* CARD */
.card {
  background: rgba(0,0,0,0.6);
  color: white;
  padding: 40px;
  border-radius: 20px;
  text-align: center;
  max-width: 500px;
}

button {
  margin-top: 20px;
  padding: 12px 30px;
  border: none;
  border-radius: 30px;
  background: #ff5c8a;
  color: white;
  font-size: 16px;
  cursor: pointer;
}
